/*002*/
body > form {
    margin: 0.125em;
    padding: 1em;
    background-color: rgb(48, 48, 48);
    color: black;
    border-radius: 0.625em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 0.5em;
    column-gap: 0.5em;
    height: 40em;
    max-width: 30em;
    min-width: 15em;
}

/*001*/
button {
    font-size: 1.563em;
    background-color: lightcyan;
    color: black;
}

/*003*/
body > form > textarea {
    text-align: right;
    margin-bottom: 1em;
    background-color: rgb(218, 213, 148);
    max-height: 5em;
    grid-column-start: 1;
    grid-column-end: 6;
    color: black;
    resize: none;
}

/*013*/
body > form > button:nth-child(26),
/*013*/
body > form > button:nth-child(27),
/*013*/
body > form > button:nth-child(28),
/*013*/
body > form > button:nth-child(31),
/*013*/
body > form > button:nth-child(32),
/*013*/
body > form > button:nth-child(33),
/*013*/
body > form > button:nth-child(36),
/*013*/
body > form > button:nth-child(37),
/*013*/
body > form > button:nth-child(38),
/*013*/
body > form > button:nth-child(42),
/*013*/
body > form > button:nth-child(43){
    background-color: lightblue;
}

/*013*/
body > form > button:nth-child(2){
    grid-column: 1;
}

/*013*/
body > form > button:nth-child(3){
    grid-column: 2;
}

/*013*/
body > form > button:nth-child(4) {
    grid-column: 3;
}

/*013*/
body > form > button:nth-child(5){
    grid-column: 1;
}

/*013*/
body > form > button:nth-child(6){
    grid-column: 2;
}