/*001*/
h1 {
    background-color: white;
    text-align: center;
    color: blue;
}

/*001*/
h2 {
    background-color: white;
    text-align: left;
    color: green;
}

/*001*/
p {
    background-color: white;
    text-align: left;
    color: black;
}