/*100*/
#opinion {
    height: 10em;
    width: 35em;
}

/*002*/
fieldset label{
    padding: 0.5em;
}

/*001*/
button {
    font-size: 0.938em;
    border: 1em;
    padding: 0.5em;
    margin: 2em 0em;
}