/*001*/
body {
    font: 0.938em;
    font-family: "Lucida Console", "Courier New", monospace;
    line-height: 2em;
    background-color: black;
    color: white;
    display: grid;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
}

/*001*/
main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      "nav section aside"
      "nav section aside";
}

/*001*/
header {
    grid-area: header;
}

/*001*/
nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    height: fit-content;
}

/*001*/
section {
    grid-area: section;
}

/*001*/
footer {
    grid-area: footer;
    text-align: center;
    font-size: 0.7em;
}

/*002*/
nav ul {
    list-style: none;
    padding-left: 0em;
}

/*003*/
nav ul li {
    display: block;
    padding: 1em;
}

/*001*/
a {
    background-color: inherit;
    color: #DECD9E;
    text-decoration: none;
}

/*001*/
button {
    font-size: 0.938em;
    border: 1em;
    padding: 0.5em;
    margin: 2em 0em;
}

/*001*/
p {
    font-size: 1.1em;
}

/*001*/
h1 {
    text-transform: uppercase;
    padding: 0.313em;
    text-align: center;
}

/*001*/
h2 {
    padding: 0.625em;
    text-align: center;
}

/*001*/
table {
    width: 75%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

/*001*/
th {
    background-color: #4D4D4D;
    color: inherit;
    width: 20%;
}

/*001*/
td {
    background-color: #727272;
    color: inherit;
}

/*001*/
th,
/*001*/
td {
    height: 100%;
    border: 0.063em;
    border-style: solid;
    border-color: white;
    text-align: center;
}

/*100*/
#imgDynabook {
    margin-bottom: 2em;
    width: 25em;
    float: left;
}

/*100*/
#videoDynabook {
    width: 25em;
    float: right;
}