/*001*/
body {
    font: 0.938em;
    font-family: "Lucida Console", "Courier New", monospace;
    line-height: 2em;
    background-color: black;
    color: white;
}

/*001*/
nav {
   text-align: center;
}

/*003*/
nav ul li {
    display: inline-block;
    padding: 1em;
}

/*001*/
a {
    background-color: inherit;
    color: #DECD9E;
    text-decoration: none;
}

/*001*/
button {
    font-size: 0.938em;
    border: 1em;
    padding: 0.5em;
    margin: 2em 0em;
}

/*001*/
p {
    font-size: 1.1em;
}

/*001*/
h1 {
    text-transform: uppercase;
    padding: 0.313em;
    text-align: center;
}

/*001*/
h2 {
    padding: 0.625em;
    text-align: center;
}

/*001*/
table {
    width: 75%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

/*001*/
th {
    background-color: #4D4D4D;
    width: 20%;
}

/*001*/
td {
    background-color: #727272;
}

/*001*/
th,
/*001*/
td {
    height: 100%;
    border: 0.063em;
    border-style: solid;
    border-color: white;
    text-align: center;
}

/*002*/
nav ul {
    list-style: none;
    padding-left: 0em;
}

/*100*/
#imgDynabook {
    margin-bottom: 2em;
    width: 25em;
    float: left;
}

/*100*/
#videoDynabook {
    width: 25em;
    float: right;
}