/*001*/
body {
    font: 400 0.938em Papyrus, fantasy;
    line-height: 1.8;
    background-color: #2D383A;
    color: white;
}

/*002*/
nav li {
    display: inline;
    float: left;
}

/*002*/
nav a,
/*002*/
nav strong {
    display: block;
    padding: 0.5em;
}

/*001*/
a {
    background-color: inherit;
    color: #DECD9E;
    text-decoration: none;
}

/*011*/
a:link,
/*011*/
a:visited {
    background-color: inherit;
    color: #DECD9E;
}

/*011*/
a:hover,
/*011*/
a:active {
    background-color: inherit;
    color: #E3D7B7;
}

/*001*/
p {
    font-size: 1.1em;
}

/*001*/
h1 {
    text-transform: uppercase;
    padding: 0.313em;
    text-align: center;
}

/*001*/
h2 {
    padding: 0.625em;
    text-align: center;
}

/*001*/
section {
    padding-right: 6.25em;
    padding-left: 6.25em;
    padding-top: 1.25em;
    padding-bottom: 0.625em;
}

/*001*/
table {
    width: 100%;
    border-collapse: collapse;
}

/*001*/
th,
/*001*/
td {
    height: 100%;
    border: 0.063em;
    border-style: solid;
    border-color: white;
    text-align: center;
}

/*001*/
ul {
    list-style: none;
    padding-left: 0em;
}

/*001*/
footer {
    left: 0em;
    bottom: 0em;
    width: 100%;
    text-align: center;
}

/*002*/
figure > img {
    width: 15.625em;
    height: 23.438em;
}

/*002*/
figcaption > img {
    width: 1.25em;
    height: 1.25em;
}

/*001*/
audio {
    width: 20%;
}

/*001*/
video {
    width: 50%;
    height: 50%;
}
