/*001*/
main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      "nav article aside"
      "nav article aside";
}

/*001*/
article {
    grid-area: article;
}

/*100*/
#imgDynabook {
    margin-bottom: 2em;
    width: 25em;
    float: left;
}

/*100*/
#videoDynabook {
    width: 25em;
    float: right;
}