/*001*/
body {
    background-color: black;
    color: lightgray;
}

/*001*/
h1 {
    text-align: center;
}

/*001*/
button {
    width: 15em;
    height: 3em;
    background: lightgray;
    border-radius: 33px;
    color: black;
}

/*001*/
table {
    margin-top: 2em;
    margin-left: 2em;
    border-collapse: collapse;
}

/*001*/
th {
    background-color: #424242;
    color: #E3E3E3;
}

/*001*/
td {
    background-color: #BABABA;
    color: #292929;
}

/*001*/
th,
/*001*/
td {
    padding:0.5em;
    text-align: center;
}