main{
  display:block;
  padding:20px;
  background-color:black;
  width:265px;
  height:300px;
  border-radius: 25px;
  margin-bottom: 2em;
}
input[type=text] {
    width: 73%;
    padding: 16px 32px;
    font-size: 16px;
    margin: 8px 0;
    border: 1px solid silver;
    border-radius: 1px;
    text-align: left;
    color: #333;
    background: #ccc;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #00B0F0;
    border: none;
    color: white;
    padding: 8px 12px;
    font-size: 16px;
    min-width: 22%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #333;
}