/*001*/

p {
    text-align: center;
    height: 500px;
}


/*001*/

h1 {
    text-align: center;
}


/*001*/

section {
    text-align: center;
}


/*001*/

body {
    background-color: beige;
    color: black;
}