/*001*/
textarea {
    height: 5em;
    width: 20em;
}

/*001*/
fieldset{
    width: fit-content;
    height: fit-content;
}

/*002*/
fieldset label{
    padding: 0.5em;
}

/*001*/
button {
    font-size: 1em;
    border: 1em;
    padding: 0.5em;
    margin: 2em 0em;
}