/*001*/
table {
    border-collapse: collapse;
}

/*001*/
th {
    background-color: #727272;
    color: #292929;
}

/*001*/
td {
    background-color: #919191;
    color: #303030;
}

/*001*/
th,
/*001*/
td {
    border: 0.063em;
    border-style: solid;
    border-color: white;
    text-align: center;
}