/*0001*/
body 
{
    font: 400 15px Papyrus,fantasy;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    line-height: 1.8;
    background-color: black;
    background: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*0001*/
p
{
    text-align: justify;
}

/*0001*/
h1 
{
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
}

/*0001*/
h2
{
    padding: 10px;
    text-align: center;
}

/*0001*/
section
{
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*0001*/
table
{
    width: 100%;
    border-collapse: collapse;
}

/*0001*/
th,td
{
    height: 100%;
    border: 1px;
    border-style: solid;
    border-color: white;
    text-align: center;
}

/*0001*/
ul
{
    list-style: none;
    padding-left: 0px;
}

/*0001*/
footer
{
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
}