/*0001*/
body 
{
    font: 400 0.938em Papyrus,fantasy;
    color: white;
    line-height: 1.8;
    background-color: #2D383A;
}

/*0001*/
a
{
    color: #D2C880;
    text-decoration: none;
}

/*0001*/
p
{
    font-size: 1.1em;
}

/*0001*/
h1 
{
    text-transform: uppercase;
    padding: 0.313em;
    text-align: center;
}

/*0001*/
h2
{
    padding: 0.625em;
    text-align: center;
}

/*0001*/
section
{
    padding-right: 6.25em;
    padding-left: 6.25em;
    padding-top: 1.25em;
    padding-bottom: 0.625em;
}

/*0001*/
table
{
    width: 100%;
    border-collapse: collapse;
}

/*0001*/
th,td
{
    height: 100%;
    border: 0.063em;
    border-style: solid;
    border-color: white;
    text-align: center;
}

/*0001*/
ul
{
    list-style: none;
    padding-left: 0em;
}

/*0001*/
footer
{
    left: 0em;
    bottom: 0em;
    width: 100%;
    text-align: center;
}

/*0001*/
figure
{
    display: inline-block;
}

/*0002*/
figure img
{
    width: 15.625em;
    height: 23.438em;
}

/*0002*/
figcaption img
{
    width: 1.25em;
    height: 1.25em;
}

/*0001*/
audio
{
    width: 90%;
}

/*0001*/
video
{
    width: 50%;
    height: 50%;
}