/*100*/

section,

/*001*/

video {
    width: 50em;
    height: 29em;
}


/*001*/

body {
    background-color: beige;
    color: black;
}


/*001*/

p {
    font-size: 1.1em;
}


/*001*/

h1 {
    text-transform: uppercase;
    padding: 0.313em;
    text-align: center;
}