/*001*/

h1 {
    text-transform: uppercase;
    padding: 0.313em;
    text-align: center;
}


/*100*/

#mapa {
    height: 1000px;
    width: 100%;
}


/*011*/

input[type="button"] {
    position: relative;
    cursor: pointer;
    width: 175px;
    height: 40px;
    background: white;
    border-radius: 33px;
    margin: 0px 7px 11px 1px;
    color: black;
    line-height: 36px;
    text-align: center;
}