/*001*/
body {
    font-size: 1.1em;
    color: black;
    background-color: white;
}

/*001*/
h1 {
    text-transform: uppercase;
    padding: 0.313em;
    text-align: center;
    color: midnightblue;
    background-color: white;
}

/*001*/
pre,
/*001*/
input,
/*001*/
label {
    font-size: 1.2em;
}